body  {
font-family: Georgia;
background: #F4F4F4;
margin: 0;
}

#container { 
width: 780px;
margin: 0 auto;
background: #FFFFFF;
}

#header {
font-family: Georgia; 
font-size: 30px;
padding: 45px 0 20px 40px;
} 

#header a {
color: #121212;
text-decoration: none;
font-size: 30px; 
font-family: Georgia;
}

#menu {
background-color: #3b7687; 
padding: 6px 0 6px 40px;
}

#menu a {
color: #c5d6db;
text-decoration: none; 
font-size: 14px; 
font-family: "Georgia";
}

#menu a:hover {
color: #ecf2f3;
}

#img1 {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}
#img1:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

h1 {
margin: 0px;
color: #869843; 
font-size:24px; 
font-family: Georgia; 
font-weight: normal;
}

h2 {
color: #3b7687;
font-size: 15px; 
font-family: Georgia;
}

#main { 
margin: 0 0 0 0px;
padding: 15px 30px 30px 30px;
color: #444444
font-family: "Georgia";
font-size: 13px; 
line-height: 18px;
text-align: justify;
} 

#main a {
color: #3b7687; 
text-decoration: none;
}

#main a:hover {
color: #444444;
}

#text { 
margin: 0 0 0 0;
padding: 0 0 0 15px;
color: #444444;
font-family: "Georgia";
font-size: 13px; 
line-height: 18px;
text-align: justify;
} 

#text a {
color: #3b7687; 
text-decoration: none;
}

#text a:hover {
color: #444444;
}

#footer {
padding: 6px 40px 6px 40px;
background: #d6d6d6; 
font-family: "Georgia";
color: #444444;
font-size: 11px;
text-align: left; 
}
